body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
  background-color: var(--appBackgroundColor);
  color: var(--appFontColor);
}

#app {
  width: 100%;
  height: 100%;
  overflow: hidden;
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

.custom-ui {
  display: contents;
  width: 100%;
  height: 100%;
  
}

.pywebview-drag-region {
  -webkit-app-region: drag;
}

.no-drag,
.no-drag * {
  -webkit-app-region: no-drag;
  pointer-events: auto;
}